[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "A Simple Chat Program in Python To understand the use of  "
[access "refs/*"]
	owner = group user/Vivek Yadav (vyvivekyadav04)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Vivek Yadav (vyvivekyadav04)
	label-Verified = -1..+1 group user/Vivek Yadav (vyvivekyadav04)
	push = group user/Vivek Yadav (vyvivekyadav04)
	read = group user/Vivek Yadav (vyvivekyadav04)
	rebase = group user/Vivek Yadav (vyvivekyadav04)
	removeReviewer = group user/Vivek Yadav (vyvivekyadav04)
	submit = group user/Vivek Yadav (vyvivekyadav04)
[access "refs/heads/*"]
	create = group user/Vivek Yadav (vyvivekyadav04)
	push = +force group user/Vivek Yadav (vyvivekyadav04)
	pushMerge = group user/Vivek Yadav (vyvivekyadav04)
	read = group user/Vivek Yadav (vyvivekyadav04)
[access "refs/tags/*"]
	push = group user/Vivek Yadav (vyvivekyadav04)
	push = +force group user/Vivek Yadav (vyvivekyadav04)
